<!DOCTYPE html>
<html lang="en">
<head>
    {%  extends 'layout/base.html' %}
    {% load static %}
    {% block homeblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Beauty and facecare</title>
    <link rel="stylesheet" href="{% static 'css/Beauty_style.css' %}">
    {% if name %}
    <style>
        .cont{
            height:465px;
        }
    </style>
    {% endif %}
</head>
<body>
    <div class="slide_main">
        <button type="submit" class="lbtn">&lt;</button>
        <div class="slider">
            {% for bslide in bslide %}
            <a href="#">
                <img src="{{bslide.slide_url}}" class="slide">
            </a>
            {% endfor %}
        </div>
        <button type="submit" class="rbtn">&gt;</button>
    </div>
    <div class="content grid grid-cols-5 gap-[5px]">
        {% for bdata in bdata %}
        <div class="cont">
            <a href="{{bdata.main_url}}" target="_blank">
                <div>
                    <img src="{{bdata.image_url}}">
                </div>
                <p>{{bdata.b_title}}</p>
                MRP: <span>&#8377;{{bdata.total}}</span>
                <p style="color: red;">-{{bdata.discount}}% <span style="text-decoration:none; color: black; font-size:19px;">&#8377;{{bdata.dis_price}}</span></p>
            </a>
            {% if name%}
            <div class="cartSection">
                <button type="submit" class="cartBtn" data-id="{{bdata.id}}" data-catagory="beautyContent">Add to cart</button>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if not name %}
    <div class="more">
        <a href="https://www.amazon.in/gp/browse.html?node=1355016031&ref_=nav_em_sbc_bhg_beauty_all_0_2_13_2">
            <button>See more<i class="fa-solid fa-arrow-right" style="color: black; margin-left:5px; position: relative; top:3px;"></i></button>
        </a>
    </div>
    {% endif %}
</body>
<script src="{% static 'js/jQuery/jQuery.js' %}"></script>
<script src="{% static 'js/Beauty_script.js' %}"></script>
<script>
    $('.cartBtn').on('click',function(){
        const id=$(this).data('id')
        const catagory=$(this).data('catagory')
       $.ajax({
           url:'{% url "add_to_cart" %}',
           type:'POST',
           data:{
               id:id,
               catagory:catagory,
               csrfmiddlewaretoken:'{{ csrf_token }}'
           },
           success:function(response){
               alert(response.message)
           }
       })
    })
</script>
</html>
{% endblock %}