<!DOCTYPE html>
<html lang="en">
<head>
    {%  extends 'layout/base.html' %}
    {% load static %}
    {% block homeblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <title>mywebsite</title>
    <link rel="stylesheet" href="{% static 'css/Home_style.css' %}">
</head>
<body>
    <div class="slide_main">
        <button type="submit" class="lbtn">&lt;</button>
        <div class="slider">
            {% for data in slider%}
            <a href="{% url 'home' %}">
                <img src="{{ data.slide_url.url }}" class="slide" style="object-fit:cover; height: auto;">
            </a>
            {% endfor %}
        </div>
        <button type="submit" class="rbtn">&gt;</button>
    </div>
    <div class="cont">
        <div class="box" id="box1">
            <p style="color:black;font-size:20px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Customers' Most-Loved Products for you</p>
            <div class="content1">
                <a href="{% url 'decor'%}">
                    <img src="{% static 'images/product1.jpg' %}">
                </a>
                <a href="{% url 'decor'%}">
                    <img src="{% static 'images/product2.jpg' %}">
                </a>
                <a href="{% url 'decor'%}">
                    <img src="{% static 'images/product3.jpg' %}">
                </a>
                <a href="{% url 'decor'%}">
                    <img src="{% static 'images/product4.jpg' %}">
                </a>
            </div>
        </div>
        <div class="box" id="box2">
            <p style="color:black;font-size:20px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Explore more from Small Businesses</p>
            <div class="content2">
                <div class="home_decor">
                    <a href="{% url 'womenFashion' %}">
                        <img src="{% static 'images/clothing.jpg' %}">
                    </a>
                    <p>Clothing</p>
                </div>
                <div class="home_decor">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/decor.jpg' %}">
                    </a>
                    <p>Decor</p>
                </div>
                <div class="home_decor">
                    <a href="{% url 'womenFashion' %}">
                        <img src="{% static 'images/fashion-accessories.jpg' %}">
                    </a>
                    <p>Fashion Accessories</p>
                </div>
                <div class="home_decor">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/glassware.jpg' %}">
                    </a>
                    <p>Glassware & Drinks</p>
                </div>
                <a href="{% url 'decor' %}" style="margin-top:30px;position: relative;right:30px; color: rgb(38,134,151);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Explore more</a>
            </div>
        </div>
        <div class="box" id="box3">
            <p style="color:black;font-size:20px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Revamp your home in style</p>
            <div class="content2">
                <div class="home_style">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/cushion-covers.jpg' %}">
                    </a>
                    <p>Cushion covers,Bedsheet & more</p>
                </div>
                <div class="home_style">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/figurines.jpg' %}">
                    </a>
                    <p>Figurines,Vashels & more</p>
                </div>
                <div class="home_style">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/home-storage.jpg' %}">
                    </a>
                    <p>Home storage</p>
                </div>
                <div class="home_style">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/lighting.jpg' %}">
                    </a>
                    <p>Lighting solution</p>
                </div>
                <a href="{% url 'decor' %}" style="margin-top:20px;position: relative;right:45px; top:14px; color: rgb(38,134,151);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Explore all</a>
            </div>
        </div>
        <div class="box" id="box4">
            <p style="color:black;font-size:20px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Starting ₹199 | Webmart Brands & more</p>
            <div class="content2">
                <div class="home_needs">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/bedsheets.jpg' %}">
                    </a>
                    <p>Starting &#8377;199 | Bedsheets</p>
                </div>
                <div class="home_needs">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/curtains.jpg' %}">
                    </a>
                    <p>Starting &#8377;199 | Curtains</p>
                </div>
                <div class="home_needs">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/home-decor-1.jpg' %}">
                    </a>
                    <p>Minimum 50% off</p>
                </div>
                <div class="home_needs">
                    <a href="{% url 'decor' %}">
                        <img src="{% static 'images/home-decor-2.jpg' %}">
                    </a>
                    <p>Upto 50% off | Home decor</p>
                </div>
                <a href="{% url 'decor' %}" style="padding-bottom:10px;position: relative;right:45px; color: rgb(38,134,151);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">See more</a>
            </div>
        </div>
        <div class="box" id="box5">
            <p style="color:black;font-size:20px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Great deals with face care products</p>
            <div class="content2">
                <div class="skin_care">
                    <a href="{% url 'beauty' %}">
                        <img src="{% static 'images/face-cream.jpg' %}">
                    </a>
                    <p>Upto 40% off on face creams</p>
                </div>
                <div class="skin_care">
                    <a href="{% url 'beauty' %}">
                        <img src="{% static 'images/skin-care.jpg' %}">
                    </a>
                    <p>For glowing skin</p>
                </div>
                <div class="skin_care">
                    <a href="{% url 'beauty' %}">
                        <img src="{% static 'images/moisturiser.jpg' %}">
                    </a>
                    <p>Upto 60 % off on moisturisers</p>
                </div>
                <div class="skin_care">
                    <a href="{% url 'beauty' %}">
                        <img src="{% static 'images/combo-pack.jpg' %}">
                    </a>
                    <p>Best discounts on combo packs</p>
                </div>
                <a href="{% url 'beauty' %}" style="position: relative;right:45px; color: rgb(38,134,151);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">See more</a>
            </div>
        </div>
        <div class="box" id="box6">
            <p style="color:black;font-size:20px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Appliances for your home | Upto 40% off</p>
            <div class="content2">
                <div class="appliances">
                    <a href="{% url 'electronics' %}">
                        <img src="{% static 'images/air-conditioner.jpg' %}">
                    </a>
                    <p>Air conditioners</p>
                </div>
                <div class="appliances">
                    <a href="{% url 'electronics' %}">
                        <img src="{% static 'images/washing-machine.jpg' %}">
                    </a>
                    <p>Washing machine</p>
                </div>
                <div class="appliances">
                    <a href="{% url 'electronics' %}">
                        <img src="{% static 'images/microwave.jpg' %}">
                    </a>
                    <p>Micro waves</p>
                </div>
                <div class="appliances">
                    <a href="{% url 'electronics' %}">
                        <img src="{% static 'images/refrigerator.jpg' %}">
                    </a>
                    <p>Refrigerators</p>
                </div>
                <a href="{% url 'electronics' %}" style="margin-top:31px;position:relative;right:45px; color: rgb(38,134,151);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">See more</a>
            </div>
        </div>
        <div class="box" id="box7">
            <p style="color:black;font-size:20px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Starting &#8377;299 | Women's fashion</p>
            <div class="content2">
                <div class="womenfashion">
                    <a href="{% url 'womenFashion' %}">
                        <img src="{% static 'images/womens-fashion-1.jpg' %}">
                    </a>
                    <p>Starting &#8377;299</p>
                </div>
                <div class="womenfashion">
                    <a href="{% url 'womenFashion' %}">
                        <img src="{% static 'images/womens-fashion-2.jpg' %}">
                    </a>
                    <p>Starting &#8377;399</p>
                </div>
                <div class="womenfashion">
                    <a href="{% url 'womenFashion' %}">
                        <img src="{% static 'images/womens-fashion-3.jpg' %}">
                    </a>
                    <p>Starting &#8377;449</p>
                </div>
                <div class="womenfashion">
                    <a href="{% url 'womenFashion' %}">
                        <img src="{% static 'images/dupatta.jpg' %}">
                    </a>
                    <p>Starting &#8377;499</p>
                </div>
                <a href="{% url 'womenFashion' %}" style="margin-top:30px;position: relative;right:35px; top:19px; color: rgb(38,134,151);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">See all</a>
            </div>
        </div>
        <div class="box" id="box8" style="gap:5px;">
            <p style="color:black;font-size:20px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Best deals on brands</p>
            <div class="content2">
                <div class="brands">
                    <a href="{% url 'menFashion' %}">
                        <img src="{% static 'images/brand-logo-1.png' %}">
                    </a>
                    <p>Upto 40% off</p>
                </div>
                <div class="brands">
                    <a href="{% url 'menFashion' %}">
                        <img src="{% static 'images/brand-logo-2.png' %}">
                    </a>
                    <p>Upto 50% off</p>
                </div>
                <div class="brands">
                    <a href="{% url 'menFashion' %}">
                        <img src="{% static 'images/brand-logo-3.png' %}">
                    </a>
                    <p>Upto 55% off</p>
                </div>
                <div class="brands">
                    <a href="{% url 'menFashion' %}">
                        <img src="{% static 'images/brand-logo-4.png' %}">
                    </a>
                    <p>Upto 35% off</p>
                </div>
                <a href="{% url 'menFashion' %}" style="margin-top:20px;position:relative;right:35px; color: rgb(38,134,151);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">See all</a>
            </div>
        </div>
    </div>
    <div class="cont1">
        <p  style="font-size:22px; color: black;    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Upto 50% off | Home decors</p>
        <div class="cont1Btn">
            <button class="lbtn1" onclick="scrollleft()">&lt;</button>
            <div class="scroller">
                {% for data in cont1 %}
                <a href="{% url 'decor' %}">
                        <img src="{{ data.slide_url1.url }}" width="220px" height="220px">
                </a>
                {% endfor %}
            </div>
            <button class="rbtn1" onclick="scrollright()">&gt;</button>
        </div>
    </div>
    <div class="cont2">
        <p style="font-size:22px; color: black;    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Best sellers in clothing & Accessories</p>
        <div class="cont2Btn">
            <button class="lbtn2" onclick="scrollleft1()">&lt;</button>
            <div class="scroller1">
                {% for data in cont2 %}
                <a href="{% url data.name.name %}">
                    <img src="{{ data.slide_url2.url }}" width="220px" height="300px">
                </a>
                {% endfor %}
            </div>
            <button class="rbtn2" onclick="scrollright1()">&gt;</button>
        </div>
    </div>
    <div class="cont3">
        <div class="cont3_box" style="width:35%">
            <P style="height:5%;">Your Daily Dose of Beauty Care | Starts Here</P>
            <div style="padding:56.25% 0 0 0;position:relative; margin-top: 20px;"><iframe src="https://player.vimeo.com/video/395646858?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="3 product full face makeup challenge"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="cont3_box">
            <p>Starting ₹199 | Start your Beauty journey</p>
            <a href="{% url 'beauty' %}">
                <img src="{% static 'images/beauty-product.jpg' %}">
            </a>
        </div>
        <div class="cont3_box">
            <p>Up to 75% off | Wall arts, painting, decor & more </p>
            <a href="{% url 'decor' %}">
                <img src="{% static 'images/wall-art.jpg' %}">
            </a>
        </div>
        <div class="cont3_box">
            <p>Up to 75% off | Party dresses</p>
            <a href="{% url 'womenFashion' %}">
                <img src="{% static 'images/party-dress.jpg' %}">
            </a>
        </div>
    </div>
    <div class="cont4">
        <p style="font-size:22px; color: black;    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Upto 50% off | Fashionable & Trendy clothes</p>
        <div class="cont4Btn">
            <button class="lbtn4" onclick="scrollleft2()">&lt;</button>
            <div class="scroller2">  
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-1.png' %}" class="h_scroll2_img">
                </a>
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-2.png' %}" class="h_scroll2_img">
                </a>
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-3.png' %}" class="h_scroll2_img">
                </a>
                <a href="{% url 'womenFashion' %}">
                    <img src="{% static 'images/womens-fashion-4.jpg' %}" class="h_scroll2_img">
                </a>                         
                <a href="{% url 'womenFashion' %}">
                    <img src="{% static 'images/womens-fashion-5.jpg' %}" class="h_scroll2_img">
                </a>               
                <a href="{% url 'womenFashion' %}">
                    <img src="{% static 'images/womens-fashion-6.jpg' %}" class="h_scroll2_img">
                </a>
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-4.png' %}" class="h_scroll2_img">
                </a>               
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-5.png' %}" class="h_scroll2_img">
                </a>               
                <a href="{% url 'womenFashion' %}">
                     <img src="{% static 'images/womens-fashion-7.jpg' %}" class="h_scroll2_img">
                </a>                
                <a href="{% url 'womenFashion' %}">
                     <img src="{% static 'images/womens-fashion-8.jpg' %}" class="h_scroll2_img">
                </a>             
                <a href="{% url 'womenFashion' %}">
                    <img src="{% static 'images/womens-fashion-9.jpg' %}" class="h_scroll2_img">
                </a>           
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-6.png' %}" class="h_scroll2_img">
                </a>            
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-7.png' %}" class="h_scroll2_img">
                </a>            
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-8.png' %}" class="h_scroll2_img">
                </a>        
                <a href="{% url 'menFashion' %}">
                    <img src="{% static 'images/mens-fashion-9.png' %}" class="h_scroll2_img">
                </a>              
            </div>
            <button class="rbtn4" onclick="scrollright2()">&gt;</button>
        </div>
    </div>
</body>
<script src="{% static 'js/Home_script.js' %}"></script>
</html>
{% endblock %}
