<!DOCTYPE html>
<html lang="en">
<head>
    {%  extends 'layout/base.html' %}
    {% load static %}
    {% block homeblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kid's fashion</title>
    <link rel="stylesheet" href="{% static 'css/Kid_style.css' %}">
</head>
<body>
    <div class="slide_main">
        <button type="submit" class="lbtn">&lt;</button>
        <div class="slider">
            {% for kslide in kslide %}
            <a href="{% url 'kidFashion' %}">
                <img src="{{kslide.slide_url}}" class="slide">
            </a>
            {% endfor %}
        </div>
        <button type="submit" class="rbtn">&gt;</button>
    </div>
    <div class="content grid grid-cols-5 gap-[5px]">
        {% for kdata in kdata %}
        <div id="box1" class="cont">
            <a href="{{kdata.main_url}}" target="_blank">
                <div>
                    <img src="{{kdata.image_url}}">
                </div>
                <p>{{kdata.k_title}}</p>
                MRP: <span>&#8377;{{kdata.total}}</span>
                <p style="color: red;">-{{kdata.discount}}% <span style="text-decoration:none; color: black; font-size:19px">&#8377;{{kdata.dis_price}}</span></p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="more">
        <a href="https://www.amazon.in/b/ref=AF_WIN_bub_w_cml_t_3?pf_rd_r=WRR1EKCBES363N117Q73&pf_rd_p=9a0cb6fd-b7aa-4cdb-a3c8-8599f759d050&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-1&pf_rd_t=&pf_rd_i=6648217031&node=9361420031">
            <button>See more<i class="fa-solid fa-arrow-right" style="color: black; margin-left:5px; position: relative; top:3px;"></i></button>
        </a>
    </div>
</body>
<script src="{% static 'js/Kid_script.js' %}"></script>
</html>
{% endblock %}