<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'layout/base.html' %}
    {% load static %}
    {% block homeblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <title>Men's fashion</title>
    <link rel="stylesheet" href="{% static 'css/Men_style.css' %}">
    {% if name %}
    <style>
        .cont{
            height:465px;
        }
    </style>
    {% endif %}
</head>

<body>
    <div class="slide_main">
        <button type="submit" class="lbtn">&lt;</button>
        <div class="slider">
            {% for slide in menSlider %}
            <a href="#">
                <img src="{{slide.slide_url}}" class="slide">
            </a>
            {% endfor %}
        </div>
        <button type="submit" class="rbtn">&gt;</button>
    </div>
    <div class="content">
        {% for data in mendata %}
        <div class="cont">
            <a href="{{data.main_url}}" target="_blank">
                <div>
                    <img src="{{data.image_url}}">
                </div>
                <p>{{data.men_title}}</p>
                MRP: <span>&#8377;{{data.total}}</span>
                <p style="color: red;">{{data.discount}}% <span
                        style="text-decoration:none; color: black; font-size:19px">&#8377;{{data.dis_price}}</span></p>
            </a>
            {% if name %}
            <div class="cartSection">
                <button type="submit" class="cartBtn">Add to cart</button>
            </div>
            {% endif %}
           
        </div>
        {% endfor %}
    </div>
    {% if not name %}
    <div class="more">
        <a
            href="https://www.amazon.in/b/ref=AF_WIN_bub_w_cml_t_1?pf_rd_r=181Q686F7FDZ2J7T0ZV8&pf_rd_p=a0040a42-9e10-4896-b86c-bfc9227153c5&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-1&pf_rd_t=&pf_rd_i=6648217031&node=1968024031">
            <button>See more<i class="fa-solid fa-arrow-right"
                    style="color: black; margin-left:5px; position: relative; top:3px;"></i></button>
        </a>
    </div>
    {% endif %}
</body>
<script src="{% static 'js/Men_script.js' %}"></script>

</html>
{% endblock %}