<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/Login_style.css' %}">
</head>
<body>
    <div class="logo">
        <img src="{% static 'images/logo4.jpg' %}">
        <p>Webmart</p>
    </div>
    <div class="container">
        <div class="main">
            {{msg}}
            <form method="post">
                {% csrf_token %}
                <p style="font-size:27px;font-weight:400px; font-family: Arial, sans-serif;">Sign in</p>
                <p class="text">Email or mobile phone number</p>
                <input type="text" name="key">
                <p class="text">Password</p>
                <input type="text" name="pwd">
                <button type="submit">Continue</button>
            </form>
            <p style="margin-top:20px;font-size:14px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">By continuing, you agree to Webmart's<span> <a href="#">Conditions&nbsp;of&nbsp; Use</a></span> and <span><a href="#">Privacy Notice</a></span></p>
            <div class="help">
                <i class="fa-solid fa-caret-right"></i>
                <a href="" style="font-size:14px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Need help?</a>
            </div>
            <hr style="margin-top: 20px;color:rgb(213, 217, 217);">
            <p style="margin-top:10px;margin-bottom: 10px;">Buying for work?</p>
            <a href="https://www.amazon.in/business/register/org/landing?ref_=ap_altreg_ab" style="text-decoration: none;">Shop on Webmart Business</a>
        </div>
        <div class="submain">
            <p>New to Webmart</p>
            <a href="{% url 'signup' %}">
                <button type="submit">Create a Webmart account</button>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="support">
            <a href="https://www.amazon.in/gp/help/customer/display.html/ref=ap_desktop_footer_cou?ie=UTF8&nodeId=200545940">Conditions of Use</a>
            <a href="https://www.amazon.in/gp/help/customer/display.html/ref=ap_desktop_footer_privacy_notice?ie=UTF8&nodeId=200534380">Privacy Notice</a>
            <a href="https://www.amazon.in/gp/help/customer/display.html?ie=UTF8&nodeId=508510">Help</a><br>
        </div>
        <p style="position: relative; bottom:7px;right:5px;">© 2024-2025, Webmart.com, Inc. or its affiliates</p>
    </div>
</body>
</html>