<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Checkout</title>
</head>
<body>
    <div>
        <h1 class="p-2 text-3xl bg-[#ccc] text-center shadow-lg mb-2">Checkout 🛍️</h1>
        <div class=" h-[50px] flex justify-around gap-1 shadow-lg mt-5 px-24">
           <h1 class="text-2xl w-[15%] text-center">Preview</h1>
           <h1 class="text-2xl w-[45%] text-center " >Title</h1>
           <h1 class="text-2xl w-[15%] text-center ">Quantity</h1>
           <h1 class="text-2xl w-[15%] text-center ">Total amount</h1>
        </div>
        <div class=" h-[200px] flex justify-around gap-1 shadow-lg mt-6 px-22">
            <div class="w-[15%] bg-[#ccc] text-center">
                <img src="https://pplware.sapo.pt/downloads/imagem_17102007/ima15.jpg" alt="Hello" class="h-[200px]"/>
            </div>
            <div class="w-[45%]  text-2xl p-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, inventore!</p>
                <p>Amount</p>
            </div>
            <div class="flex items-center w-[10%] text-3xl">
                <h1>10</h1>
            </div>
            <div class="flex items-center w-[10%] text-3xl">
                <h1>100</h1>
            </div>
        </div>
        <div class="flex h-[100px] justify-around items-center shadow-lg text-2xl px-23 mb-5">
          <div class="w-[80%] flex gap-5">
            <p >Total Number Of Product : </p>
            <h1 class="mt-[2px]">1</h1>
          </div>
          <div class="text-center">
            <p>Total Amount : -</p>
            <h1>100</h1>
          </div>
        </div>
        <div class="sticky text-center bottom-0 bg-[#ccc] py-2 shadow-lg">
            <button class="checkOut bg-[green] p-3 text-[white] text-[18px] cursor-pointer" >Proceed to Payment</button>
        </div>
    </div>
</body>
</html>