<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <title>Payment</title>
</head>

<body>
    <div>
        <h1 class="p-2 text-3xl bg-[#ccc] text-center shadow-lg mb-2">Choose Payment Method 💳</h1>
        <div class="flex justify-center mt-5">
            <div class="w-[700px] bg-gray-200 p-10 shadow-lg">
                <p class="text-2xl text-[red]">{{msg}}</p>
                <h1 class="text-3xl mt-4 ">Choose Payment Method : {{msg}}</h1>
                <form method="POST" action="{% url 'process_payment' %}" class="text-2xl mt-2 ms-4">
                    {% csrf_token %}
                    <input class="scale-150" type="radio" name="payment" value="Creditcard">
                    <label>Credi/Debit card 💳</label><br>
                    <input class="scale-150" type="radio" name="payment" value="upi">
                    <label>UPI/NetBanking</label><br>
                    <input class="scale-150" type="radio" name="payment" value="paypal">
                    <label>Paypal 🏦</label><br>
                    <input class="scale-150" type="radio" name="payment" value="cod">
                    <label>Cash on delivery 💵</label><br>
                    <div class=" mt-10 flex justify-between">
                        <h1  class="text-[25px] ps-1">Total amount : {{total}}</h1>
                        <button type="submit" class=" bg-[rgb(255,216,20)] py-1.5 px-5 rounded cursor-pointer">Proceed to pay <span class="relative top-0.5">🡢</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>