*{
    margin:0px;
    padding:0px;
    text-decoration:none;
    box-sizing: border-box;
}
p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width:100%;
    min-height:1000px;
    background-color:rgb(227,230,230);
}

.header{
    width:100%;
    height:60px;
    display: flex;
    gap:20px;
    position:sticky;
    top:0px;
    z-index:1000;
    background-color:rgb(22,25,33);
    box-shadow:0px 0px 5px gray;
}

.logo{
    width:150px;
    height:60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo:hover{
    border: 1px solid #fff;
}
.logo img{
    width:80px;
    height:50px;
    border-radius:100%;
    object-fit: cover;
    position: relative;
    left:5px;
}
.logo p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing:3px;
    position: relative;
    right:20px;
    font-size:18px;
}

.location{
    width:140px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.location i{
    color:#fff;
}
.location p{
    color:#fff;
    font-weight:bold;
}
.location:hover{
    border: 1px solid #fff;
}

.searchbar{
    width:700px;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.search{
    width: 600px;
    height:30px;
    display:flex;
}
.search input{
    width:540px;
    border:none;
    padding:5px;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
.search button{
    width:50px;
    height: 30px;
    border:none;
    background-color:rgb(184,142,57);
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    cursor: pointer;
}

.rightnav{
    gap:8px;
    display:flex;
}

.lang{
    width:20%;
    display: flex;
    align-items: center;
    gap:3px;
}
.lang img{
    width:25px;
    height:25px;
}
.sign{
    width:80%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap:30px;
   
}
.sign button{
    width:120px;
    height:40px;
    background-color:rgb(255,216,20);
    border-radius:5px;
}
.sign p{
    white-space:nowrap;
}



.subhead{
    width:100%;
    height:35px;
    display: flex;
    align-items: center;
    /* margin-top:60px; */
    gap:15px;
    background-color:rgb(35, 47, 62);
    box-shadow:3px 0px 6px gray;
}
.subhead a{
    margin-left:10px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
.subhead a:hover{
    color:rgb(184, 142, 57);
}
.subhead a:active{
    text-shadow:1px 1px 5px gray;
} 