.slide_main{
    width:100%;
    height:450px;
    margin-top:5px;
    display: flex;
    align-items: center;
}
.slider{
   width:100%;
   height:450px;
   margin: auto;
   position: relative;
   overflow: hidden;
   box-shadow:1px 1px 6px gray;
}
.slide{
    width:100%;
    height:100%;
    position:absolute;
    transition: 0.5s;
}

.slide_main button{
    width:60px;
    height:450px;
    background-color:transparent;
    border:none;
    cursor: pointer;
}
.lbtn{
    position: absolute;
    left:0px;
    z-index:1000;
}
.rbtn{
    position: absolute;
    right:0px;
    z-index:1000;
}
.slide_main button:hover{
    box-shadow:0px 0px 5px 0px #fff;
}

.cont{
    width:100%;
    height:850px;
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
    gap:15px;
}
.box{
    width:24%;
    height:390px;
    padding:10px;
    background-color: #fff;
}

.box p{
    color:black;
}

.cont p{
    font-size:15px;
}

.content1{
    margin-top:3px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    text-align: center;
    gap:5px;
    margin-top:15px;
    padding:2px;
}
.content1 img{
    width:130px;
    height:130px;
    cursor: pointer;
}
.content2{
    margin-top:3px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    text-align: center;
    gap:5px;
    margin-top:15px;
    padding:2px;
}
.content2 img{
    width:130px;
    height:100px;
    cursor: pointer;
}
.content2 a:hover{
    color:orange !important;
}

.home_style img{
    width:150px;
    height:100px;
}

.accessories img{
    width:150px;
    height:100px;
}
.accessories{
    margin-top: 13px;
}
.womenfashion img{
    width:140px;
    height:100px;
    object-fit:auto;
}
#box8 img{
    width:130px;
    height:108px;
    margin-top:10px;
}
.cont1Btn{
    display: flex;
    align-items: center;
    margin-top:10px;
}
 .scroller{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    align-items: center;
    gap:5px;
 }
 .cont1{
    background-color: antiquewhite;
    padding: 10px;
 }
.cont1Btn button{
    width:50px;
    height:200px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    box-shadow:1px 1px 6px gray;
}
.scroller::-webkit-scrollbar{
    display:none;
}

.cont2Btn{
    display: flex;
    align-items: center;
    margin-top:10px;
}
 .scroller1{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    align-items: center;
    gap:7px;
 }
 .cont2{
    background-color: antiquewhite;
    padding: 10px;
 }
.cont2Btn button{
    width:50px;
    height:200px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    box-shadow:1px 1px 6px gray;
}
.scroller1::-webkit-scrollbar{
    display:none;
}
.cont3{
    width:100%;
    height:370px;
    margin-top:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont3_box{
    width:20%;
    height:95%;
    padding:5px;
    background-color: #fff;
}
.cont3_box>p{
    width:100%;
    height:15%;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.cont3_box img{
    width:100%;
    height:80%;
}

.cont4Btn{
    display: flex;
    align-items: center;
    margin-top:10px;
}
 .scroller2{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    align-items: center;
    gap:7px;
 }
 .cont4{
    background-color: rgb(202, 237, 254);
    padding: 10px;
 }
 .cont4 img{
    width:380px;
    height:490px;
    object-fit:fill;
    border-radius:5px;
    box-shadow:0px 0px 6px gray;
    transition:transform 0.3s ease-in-out;
}

.cont4Btn button{
    width:150px;
    height:490px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    box-shadow:1px 1px 6px gray;
}
.scroller2::-webkit-scrollbar{
    display:none;
}