{% load static %}
<link rel="stylesheet" href="{% static 'css/footer_style.css' %}"/>
<div class="footer">
    <div class="fcontainer">
        <a href="https://www.amazon.in/gp/help/customer/display.html?nodeId=200545940&ref_=footer_cou">Conditions of Use & Sale</a>
        <a href="https://www.amazon.in/gp/help/customer/display.html?nodeId=200534380&ref_=footer_privacy">Privacy Notice</a>
        <a href="https://www.amazon.in/gp/help/customer/display.html?nodeId=202075050&ref_=footer_iba">Interest-Based Ads</a>
        
    </div>
    <hr style="width: 80%; border:1px solid gray;">
    <p style="margin:15px 0px 15px 0px;">© 2024 Company, Inc</p>
</div>