{% load static %}
<link rel="stylesheet" href="{% static 'css/header_style.css' %}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<style>
    .obj a{
        box-shadow: 0px 4px 6px rgb(184,142,57);
    }
    
</style>
{% if  name %}
    <div class="header">
        <div class="logo">
            <img src="{% static 'images/logo_main.jpg' %}">
            <p>Webmart</p>
        </div>
        <div class="location">
            <i class="fa-solid fa-location-dot"></i>
            <p><span style="font-size:14px; color: gray;">Delivering to -</span>{{pin|slice:":6"}}</p>
        </div>
        <div class="searchbar">
            <form method="POST" class="search">
                {% csrf_token %}
                <input type="text" placeholder="Search Webmart.in" name="sdata">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="rightnav">
            <div class="lang">
                <img src="{% static 'images/flag.png' %}">
                <p>EN</p>
            </div>
            <div class="sign">
                <p>Hello, {{name|slice:":6"}}</p>
                <a href="{% url 'update' %}">
                <button type="button" class="logou">Update Profile<i class="fa-solid fa-gear"></i></button></a>
                <a href="{% url 'logout' %}">
                <button type="button" class="logou">Logout<i class="fa-solid fa-arrow-right-from-bracket"></i></button></a>
            </div>
        </div>
    </div>
{% else %}
    <div class="header">
        <div class="logo">
            <img src="{% static 'images/logo_main.jpg' %}">
            <p>Webmart</p>
        </div>
        <div class="location">
            <i class="fa-solid fa-location-dot"></i>
            <p>Update location</p>
        </div>
        <div class="searchbar">
            <form method="post" class="search">
                {% csrf_token %}
                <input type="text" placeholder="Search Webmart.in" name="sdata">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="rightnav">
            <div class="lang">
                <img src="{% static 'images/flag.png' %}">
                <p>EN</p>
            </div>
            <div class="sign">
                <p>Hello, Sign in</p>
                <button type="button" class="btn" id="sin">Sign in</button>
                <button type="button" class="btn" id="sup">Sign Up</button>
            </div>
        </div>
    </div>
{% endif %}
<div class="subhead">
    <p style="margin-left:10px; color: #fff;">&gt;&gt;</p>
    <span class="{% if request.path == '/menfashion/' %}obj{% endif %}"><a href="{% url 'menFashion' %}">Men's fashion</a></span>
    <span class="{% if request.path == '/womenfashion/' %}obj{% endif %}"><a href="{% url 'womenFashion' %}">Women's fashion</a></span>
    <span class="{% if request.path == '/kidfashion/' %}obj{% endif %}"><a href="{% url 'kidFashion' %}">Kids's fashion</a></span>
    <span class="{% if request.path == '/beauty/' %}obj{% endif %}"><a href="{% url 'beauty' %}">Beauty & face care</a></span>
    <span class="{% if request.path == '/decor/' %}obj{% endif %}"><a href="{% url 'decor' %}">Home styles</a></span>
    <span class="{% if request.path == '/electronics/' %}obj{% endif %}"><a href="{% url 'electronics' %}">Electronics</a></span>
    <span class="{% if request.path == '/mobile/' %}obj{% endif %}"><a href="{% url 'mobile' %}">Mobiles & accessories</a></span>
</div>
{% if msg %}
<p id="err">{{msg}}</p>
{% endif %}
<script>
    let logo=document.querySelector('.logo')
    let sin=document.getElementById('sin')
    let loc=document.querySelector('.location')
    let sup=document.getElementById('sup')
    logo.addEventListener('click',()=>{
        window.location.href="{% url 'home' %}";
    })
    sin.addEventListener('click',()=>{
        window.location.href="{% url 'login' %}";
    })
    loc.addEventListener('click',()=>{
        window.location.href="{% url 'login' %}";
    })
   sup.addEventListener('click',()=>{
        window.location.href="{% url 'signup' %}";
    })
</script>