{% load static %}
<link rel="stylesheet" href="{% static 'css/header_style.css' %}"/>
<style>
    .obj a{
        box-shadow: 0px 4px 6px rgb(184,142,57);
    }
    
</style>
<!-- <div class="header">
    <div class="logo">
        <img src="{% static 'images/logo_main.jpg' %}">
        <p>Webmart</p>
    </div>
    <div class="location">
        <i class="fa-solid fa-location-dot"></i>
        <p>Update location</p>
    </div>
    <div class="searchbar">
        <form class="search">
            <input type="text" placeholder="Search Webmart.in">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="rightnav">
        <div class="lang">
            <img src="{% static 'images/flag.png' %}">
            <p>EN</p>
        </div>
        <div class="sign">
            <p>Hello, sign in</p>
            <p>Account & Lists</p>
            <i class="fa-solid fa-caret-down"></i>
            <ul class="drop">
                <a href="{% url 'login' %}">
                    <button type="submit" href="{% url 'login' %}">Sign in</button>
                </a>
                <span>New customer start here?<a href="#">Start here</a></span>
            </ul>
        </div>
        <div class="return">
            <p style="position: relative;top:5px;">Returns</p>
            <p style="position: relative; bottom:4px;">& orders</p>
        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-arrow-down"></i>
            <p>Cart</p>
        </div>
    </div>
</div> -->
<div class="header">
    <div class="left_head">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}">
            <p>Webmart</p>
        </div>

        <div class="location">
            <i class="fa-solid fa-location-dot" style="color: #fff;"></i>
            <p>Update location</p>
        </div>
        <div class="search">
            <input type="text" placeholder="search Webmart.in">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
    <div class="right_head">
        <div class="lang">
            <img src="{% static 'images/flag.png' %}">
            <p>EN</p>
        </div>
        <div class="sign">
            <p>Hello, sign in</p>
            <p>Account & Lists <span><i class="fa-solid fa-caret-down"></i></span></p>
            <div class="drop">
                <button type="button">Sign in</button>
                <p style="margin-top:3px;;">New customer start here?<span id="rlink"> Start here</span></p>
            </div>
        </div>
        <div class="return">
            <p style="position: relative;top:5px;">Returns</p>
            <p style="position: relative; bottom:4px;">& orders</p>
        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-arrow-down"></i>
            <p>Cart</p>
        </div>
    </div>

</div>
<div class="subhead">
    <p style="margin-left:10px; color: #fff;">&gt;&gt;</p>
    <span class="{% if request.path == '/menfashion/' %}obj{% endif %}"><a href="{% url 'menFashion' %}">Men's fashion</a></span>
    <span class="{% if request.path == '/womenfashion/' %}obj{% endif %}"><a href="{% url 'womenFashion' %}">Women's fashion</a></span>
    <span class="{% if request.path == '/kidfashion/' %}obj{% endif %}"><a href="{% url 'kidFashion' %}">Kids's fashion</a></span>
    <span class="{% if request.path == '/beauty/' %}obj{% endif %}"><a href="{% url 'beauty' %}">Beauty & face care</a></span>
    <span class="{% if request.path == '/decor/' %}obj{% endif %}"><a href="{% url 'decor' %}">Home styles</a></span>
    <span class="{% if request.path == '/electronics/' %}obj{% endif %}"><a href="{% url 'electronics' %}">Electronics</a></span>
    <span class="{% if request.path == '/mobile/' %}obj{% endif %}"><a href="{% url 'mobile' %}">Mobiles & accessories</a></span>
</div>
<script>
    let logo=document.querySelector('.logo')
    let cart=document.querySelector('.cart')
    let loc=document.querySelector('.location')
    let ret=document.querySelector('.return')
    logo.addEventListener('click',()=>{
        window.location.href="{% url 'home' %}";
    })
    cart.addEventListener('click',()=>{
        window.location.href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart";
    })
    loc.addEventListener('click',()=>{
        window.location.href="{% url 'login' %}";
    })
    ret.addEventListener('click',()=>{
        window.location.href="{% url 'login' %}"
    })
</script>