*{
    margin:0;
    text-decoration:none;
    padding:0px;
}
body{
    width:100%;
    height:900px;
}

.logo{
    width:100%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width:75px;
    height:45px;
    border-radius:100%;
    object-fit: cover;
    position: relative;
    left:10px;
}

.logo p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing:3px;
    font-size: 20px;
    font-weight:500;
    position:relative;
    right:20px;
}

.container{
    width:20%;
    height:500px;
    border-bottom:1px solid gray;
    margin: auto;
    padding:26px;
    box-shadow:0px 0px 2px 0px gray;
}

form input{
    margin-top:10px;
    border:1px solid black;
    width:99%;
    padding:5px;
    height:20px;
    border-radius:2px;
    border-radius:2px;
    box-shadow:0px 0px 1px 1px gray;
    box-shadow:inset 0px 1px 1px gray;
}

form input:focus{
    box-shadow:0px 0px 4px 1px aqua ;
}

form select{
    width:22%;
    height:30px;
    border-radius:5px;
    position:relative;
    top:5px;
    float:left;
}

.phead{
    margin-top:13px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:14px;
}

form button{
    width:100%;
    height:30px;
    background-color:rgb(255, 216, 20);
    margin-top:20px;
    border:none;
    border-radius:5px;
    cursor: pointer;
}

.main button:hover{
    background-color:rgb(246, 205, 1);
}

.container a{
    color: rgb(2,116,137);
    text-decoration: underline;
}

.container a:hover{
    color:orange !important;
}